body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.jumbotron {
  background-image: url("cover_photo_dark.png");
  background-size: cover;
  color: white;
  text-align: center

}

.display-3 {
  margin-left: 10px!important;
  margin-right: 10px!important;
}




/* Customize container */



