{% extends "base.html" %}

{% block title %}
Data info page
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<h3>Problem: You’re flying into Chicago tomorrow. Should you use a ridesharing app to reach your hotel, or take a taxi? How much do you expect to pay?
</h3>

<h3>The Data: 100 Million taxi and ridesharing trips from the city of Chicago.
    Somtimes ridesharing is cheaper, and sometimes taxis are for the same trip.
</h3>

<h3>Solution: Train a ML model to predict prices for each type of trip, and run the model in real-time.
</h3>

{% endblock %}